@charset "UTF-8";
@import "mixin";

$width:100%;
$height:100%;
/*头*/
.login-kuang{
    width: 520px;
    height: 425px;
    margin: 0 auto;
    border-top: 2px solid red;
    background: white;
    h2:nth-of-type(1){
        width: 90%;
        height: 16px;
        margin: 10px auto;
        span{
            display:block;
            width: 16px;
            height: 16px;
            float: right;
            @include imgulrimg("../img/icon.png");
            background-position: 628px 0px;
        }
    }
    h2:nth-of-type(2){
        text-align: center;
        span{
            display: inline-block;
            padding-bottom: 10px;
            border-bottom: 1px solid red;
        }
    }
}


/*登录部分*/
    .form-ul{
        width: 420px;
        margin: 30px auto;
        .form-li{
            width: $width;
            height: 54px;
            margin-top: 10px;
            input{width:$width;height: $height;padding-left: 16px;}
        }
        .form-li:nth-of-type(2){position: relative;}
        .form-li:nth-of-type(2) a{display: inline-block;height: 60%;line-height: 30px; position: absolute;right: 20px;color: #999;font-size: 12px;top: 15px;border-left: 1px solid #999;padding-left: 5px;}
        .form-li:nth-of-type(1){
            width: 450px;
            input:nth-of-type(1){
                width: 132px;
                height: 54px;
            }
            input:nth-of-type(2){
                margin-left: 10px;
                padding-left: 60px;
                width: 210px;
                height: 54px;
            }
        }
        
    }
    
    /*登录部分*/
    .denglu{
        width: 420px;
        margin: 0 auto;
        button{
            width: 150px;
            height: 40px;
            background: #E73736;
            border: none;
            color: white;
        }
        .hy{font-size: 12px;padding-left: 10px;}
        a{
            color: #999;
        }
        em{display: inline-block;height: 40px;line-height: 40px; float: right; font-style: normal;font-size: 12px;}
    }
    /*登录方式*/
   .dl-fangshi{
       width: 420px;
       margin: 50px auto;
       a{
           display: inline-block;
           margin-left: 100px;
          
       }
       a span{
           display: inline-block;
           width: 36px;
           height: 36px;
           @include imgulrimg("../img/icon.png");
           vertical-align: middle;
       }
       a:nth-of-type(1) span{
           background-position: 34px 0px;
       }
       a:nth-of-type(2) span{
           background-position: 34px 0px;
       }
   }