@charset "utf-8";
@import "mixin";
@import "login";
//定义变量
//页面全部 变量
$width:100%;
$height:100%;
//页面顶部变量
$dbfont-size:12px;//页面顶部字体大小
$dbcolro:#ccc;//顶部字体颜色
$dbheight:30px;//页面顶部高度
$dbleft:left;
$dbright:right;
$margin-right:20px;//li 间隔


//搜索部分变量和导航变量
$color333:#333;
$color666:#666;
$ssfont:12px;


/*最外框*/
.Kuang{
    width: $width;
}
/*页面顶部*/
.top{
    width: $width;
    height: $dbheight;
    background: black;
    font-size: $dbfont-size;
    color: $dbcolro;
    line-height: $dbheight;
    a{color: $dbcolro;}
}
/*左边导航*/
.top_left{
        float: $dbleft;
        margin-left: 80px;
        .top_left-ul{
            height: $dbheight;
            .top_left-li{
                width: 50px;
                height: 30px;
                position: relative;
                float: $dbleft;
                margin-right: $margin-right;
                
            }
            
        }
    }
    
    .right-box{
        text-align: center;
        line-height: 390px;
        position: absolute;
        z-index: 200;
        left: 60%;
        width: 242px;
        height: 265px;
        background: url('https://img0.fengqu.com/cmsres/20151218/05e07220-1923-411d-8f61-943a9e221bd6.png');
        display: none;
    }
    li:hover .right-box{
                display: block;
            }
    
/*右边导航*/
.top_right{
        float: $dbright;
        margin-right: 70px;
        .top_right-ul{
            height: $dbheight;
            .top_right-li{
                float: left;
                margin-right: $margin-right;
            }
        }
   }


/*滚动条产生的导航*/
.fudong{
    width: 100%;
    height: 47px;
    position: fixed;
    background: white;
    z-index: 200;
    top: -60px;
    .fudong-ul{
        width: 70%;
        height: 47px;
        margin-left: 90px;
        float: left;
        .fudong-li{
            float: left;
            height: 47px;
            line-height: 47px;
            padding: 0px 25px;
            font-size: 15px;
            a{height: 47px;color: $color333;}
        }
        .fudong-li:nth-of-type(1){width: 150px;height: 47px;@include imgulrimg('../img/header.png');background-position: 25px -265px;}
        .active{border-bottom:2px solid #E73736;padding-bottom:12px;color: #E73736!important;}
    }
    .fudong-gwc{width: 92px; height: 48px;background: #eee;display: inline-block;float: right;position: absolute;padding-left: 13px;padding-right: 17px;text-align: center;line-height: 47px;}
    .fudong-gwc strong{display: inline-block;width: 22px;height: 19px; @include imgulrimg('../img/header.png');background-position: -10px -147px;vertical-align: middle;margin-left: -10px;}
    .fudong-gwc span{font-size: 12px;color: $color333;}
    .fudong-gwc i{font-style: normal;display: inline-block;width: 22px;height: 22px;border-radius: 50%;background: #E73736;vertical-align: middle;text-align: center;line-height: 22px;color: white;font-size: 12px;}
}


/*//页面头部  (包括logo和搜索)*/   
.header{
    width: $width;
    height: 142px;
//  @include borderstyle(1px,red,solid);
}
/*logo和搜索部分*/
    .logo{
       width: 80%; 
       height: 88px;
       .logo-img{
           width: 237px;
           height: 88px;
           @include imgulr("https://img0.fengqucdn.com/cmsres/20170329/030eede1-1185-4a2d-a2b6-c9c5a43316df.svg");
           background-position: 0px -10px;
           background-size:100% 120px ;
           float: left;
           margin-left: 80px;
       }
    }
    
    /*搜索部分*/
       .logo-sousuo{
           width: 412px;
           height: 63px;
           float: right;
           margin-right: 0px;
           margin-top: 23px;
           .logo-input{
               width: 334px;
               height: 36px;
               @include borderstyle(2px,#E73735,solid);
               input{
                   width: 304px;
                   height: 36px;
                   padding: 0 15px;
                   border: none;
               }
               a{
                   text-align: center;
                   line-height: 40px;
                   display: block;
                   width: 76px;
                   height: 40px;
                   background-color:#E73735 ;
                   color: white;
                   margin-left: 335px;
                   margin-top: -38px;
               }
           }
           .logo-ul{
               padding-top:9px ;
               overflow: hidden;
               .logo-li{
                   font-size: $ssfont;
                   float: left;
                   padding: 0 9px;
                   border-left:1px solid #ccc ;
                   a{color: $color666;}
               }
               .logo-li:nth-of-type(1){
                   border-left:none;
                   padding-left: 0;
               }
           }
           
       }
       /*购物车*/
       .logo-gwc{
           width: 180px;
           height: 38px;
           margin-left: 432px;
           margin-top: -61px;
           a{
               width: 100%;
               height: 100%;
               background-color: #f7f7f7;
               display: inline-block;
                .gwc-span1{
                    display: inline-block;
                    width: 54px;
                    height: 33px;
                    float: left;
                    margin-top: 3px;
                    margin-left: 2px;
                    background: white;
                    position: relative;
                    span{
                        width: 23px;
                        height: 24px;
                        display: inline-block;
                        position: absolute;
                        background: red;
                        left: 10px;
                        top:-20px;
                        @include imgulr("../img/header.png");
                        background-position: -10px -103px;
                    }
                    em{
                        width: 25px;
                        height: 22px;
                        padding: 6px 10px;
                        @include imgulr("../img/header.png");
                        display: block;
                        background-position: 0 -182px;
                    }  
                }
                .gwc-span2{
                    display: inline-block;
                    float: right;
                    width: 107px;
                    height: 35px;
                    font-size: $ssfont;
                    line-height: 35px;
                    margin-top: 3px;
                    p{
                        display: inline-block;
                        color: $color666;
                    }
                    i{
                        display: inline-block;
                        width: 8px;
                        height: 14px;
                        @include imgulr("../img/header.png");
                        background-position: -10px -32px;
                    }
                }
           }
       }
    
    
/*导航部分*/
    .nav{
        width: 87%;
        height: 54px;
        margin: 0 auto;
    }
    /*左边导航*/
    .nav-ul1{
        float: left;
        margin-top: 16px;
        margin-left: -25px;
        .nav-li1{
            line-height: 37px;
            height: 37px;
            float: left;
            padding:0px 25px;
            font-size: 15px;
            a{
                color: $color333;
            }
        }
    }
    /*右边导航*/
    .nav-ul2{
        float: right;
        margin-top: 16px;
        .nav-li2{
            float: left;
            padding-left: 16px;
            a{
                font-size: $ssfont;
                color: $color666;
                span{
                    display: inline-block;
                    vertical-align: middle;
                    width: 20px;
                    height: 24px;
                }
            }
        }
        
        .nav-li2:nth-of-type(1) a span{
                background-position: -10px -555px;
            }
        .nav-li2:nth-of-type(2) a span{
                background-position: -10px -405px;
            }
        .nav-li2:nth-of-type(3) a span{
                background-position: -10px -228px;
            }
            
            @each $animal,$img in (a,header),
                    {
                        @for $i from 1 through 3{
                            #{$animal}:nth-of-type(#{$i}) span{
                                @include imgulr("../img/#{$img}.png");
                            }
                        }
                    }
        
        
    }




/*轮播图部分*/
.Carousel{
    width: $width;
    height: 400px;
    position: relative;
    overflow: hidden;
    .xzuo{
        width: 100px;
        height: 100px;
        position: absolute;
        right: 0;
        top: 200px;
    }
}

/*轮播图图片*/
.Carousel-ul-img{
    position: absolute;
    left: 0;
    width: $width * 7;
    height: $width;
    .ul-img-li{
        width: $width / 7;
        height: $height;
        float: left;
        a{
            display: inline-block;
            width: $width;
            height: $height;
            float: left;
            background: no-repeat;
            background-position: -260px 0px;
        }
    }
    .ul-img-li:nth-of-type(1) a{@include imgulrimg("https://img0.fengqucdn.com/cmsres/20190215/58b41251-5f59-47d9-a34f-dc2191df2249.jpeg")}
    .ul-img-li:nth-of-type(2) a{@include imgulrimg("https://img0.fengqucdn.com/cmsres/20190215/524f4c62-7083-4b15-8c70-36a891c074e3.jpeg")}
    .ul-img-li:nth-of-type(3) a{@include imgulrimg("https://img0.fengqucdn.com/cmsres/20190215/5dcce45d-d3d1-42da-add2-4e6593046298.jpeg")}
    .ul-img-li:nth-of-type(4) a{@include imgulrimg("https://img0.fengqucdn.com/cmsres/20190125/a7f880a7-2ae5-4ab0-a8ab-45b5eac99824.jpeg")}
    .ul-img-li:nth-of-type(5) a{@include imgulrimg("https://img0.fengqucdn.com/cmsres/20190125/5c01d01c-cba5-4414-b354-8a3cb9b546b5.jpeg")}
    .ul-img-li:nth-of-type(6) a{@include imgulrimg("https://img0.fengqucdn.com/cmsres/20180926/b5f37d34-ac44-400b-ae8e-f42367e252ca.jpeg")}
    .ul-img-li:nth-of-type(7) a{@include imgulrimg("https://img0.fengqucdn.com/cmsres/20180427/ee7625be-5103-4d6a-8191-3badc68c7ece.jpeg")}
}
/*轮播图按钮*/
.ol-div{
    width: $width;
    height: 20px;
    position: relative;
    top: 350px;
    .Carousel-ol{
        .active{
            background: red!important;
        }
    }
}
.Carousel-ol{
    position: absolute;
    top: 0;
    width: 196px;
    height: 20px;
    text-align: center;
    left: 50%;
    margin-left: -98px;
    .ol-li{
        font-size: $ssfont;
        width: 20px;
        height: 20px;
        float: left;
        margin: 0 4px;
        line-height: 20px;
        border-radius:50% ;
        background: white;
        cursor: pointer;
    }
    
}

/*轮播图导航*/
.Carousel-lb{
    position: absolute;
    width: 175px;
    height: 400px;
    top:0px;
    left: 6.5%;
    background: black;
    h2{
        color: white;
        padding: 36px 16px 21px;
        
    }
    .lb-li{
        width: 143px;
        height: 81px;
        padding: 0 16px;
        .lb-div{
        }
        h3{
            width: 85px;
            color: white;
            margin-bottom: 8px;
            padding-top: 20px;
            span{
                display: inline-block;
                width: 16px;
                height: 15px;
                padding-left: 3px;
            }
        }
        a{
            font-size: $ssfont;
            color: white;
        }
        
    }
    
    @each $animal,$img in (lb-li,"https://img0.fengqucdn.com/cmsres/20151013/6d2579f0-b910-477d-8de8-711e594b0bd6.png"),
                    {
                        @for $i from 1 through 4{
                            .#{$animal}:nth-of-type(#{$i}) span{
                                @include imgulr(#{$img});
                            }
                        }
                    }
    .lb-li:nth-of-type(1){
        border-top: 1px dotted #8a8c8c;
    }
    .lb-li:nth-of-type(2){
        border-top: 1px dotted #8a8c8c;
        border-bottom: 1px dotted #8a8c8c;
    }
    .lb-li:nth-of-type(3){
        border-top: 1px dotted #8a8c8c;
        border-bottom: 1px dotted #8a8c8c;
    }
    .lb-li:nth-of-type(1) span{
        background-position: 0px 0px;
    }
    .lb-li:nth-of-type(2) span{
        background-position: 0px -80px;
    }
    .lb-li:nth-of-type(3) span{
        background-position: 0px -160px;
    }
    .lb-li:nth-of-type(4) span{
        background-position: 0px -240px;
    }
}



/*页面主题部分*/
.section_1{
    margin-top: 30px;
    width: $width;
    height: 696px;
    h2{
        width: 87%;
        margin: 0 auto;
        margin-bottom: 30px;
        padding-bottom: 10px;
        .h2-zhuti{
            width: 115px;
            float: left;
            i{display: inline-block;width: 10px;height: 17px;background: red;}
            p{display: inline-block;font-size: 19px;font-weight: 400;}
        }
        .zhuti-nav{
            float: right;
            a{
                display: inline-block;
                border-left:1px solid #ddd ;
                font-size: 14px;
                color: $color666;
                padding:0 10px;
                font-weight: normal;
            }
            a:nth-of-type(1){
                border-left:none ;
            }
        }
    }
}
/*主题内容*/
.zhuti-nr{
    width: 87%;
    margin: 0 auto;
    border: 1px solid #e5e5e5;
    height: 660px;
    overflow: hidden;
    /*左边*/
    .zhuti-left{
        width: 949px;
        height: 658px;
        float: left;
        .zhuti-left-img{
            float: left;
        }
        .zhuti-left-ul{
            .zhuti-left-li{
                width: 196px;
                height: 295px;
                padding: 18px 19px;
                float: left;
                border: 1px solid #e5e5e5;
                margin-left: -1px;
                margin-top: -1px;
                position: relative;
                a{
                    display: inline-block;
                    width: 196px;
                    height: 196px;
                    img{width: $width;height: $height;}
                }
                h3 a{
                    display: inline-block;
                    width: 196px;
                    height: 42px;
                    font-size: 14px;
                    color: $color333;
                    font-weight: normal;
                    margin: 15px 0;
                }
                img{
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                }
                span{
                    color: red;
                }
                strong{text-decoration: line-through;font-weight: normal;color: #999;}
                .hongg{width: 100%;border: 1px solid red;position: absolute;left: 0;bottom: 2px;display: none;}
            }
            .zhuti-left-li:hover .hongg{display: block;}
            
            
            .zhuti-left-li:nth-of-type(3){
                    margin-left: 0px;
                    margin-top: -2px;
                }
                .zhuti-left-li:nth-of-type(4){
                    border-left: none;
                    margin-top: -2px;
                    margin-left: 2px;
                }
                .zhuti-left-li:nth-of-type(5){
                    border-left: none;
                    border-right:none ;
                    margin-left: 1px;
                    .hongg{bottom: 3px;}
                }
                .zhuti-left-li:nth-of-type(6){
                    margin-left: -2px;
                    .hongg{bottom: 3px;}
                }
        }
    }
    
    .zhuti-right{
        width: 180px;
        height: 634px;
        padding: 28px 20px 0;
        float: right;
        .zhuti-right-ul{
            h2{font-weight: normal;margin-left: -10px;}
            .zhuti-right-li{
                width: 191px;
                height: 70px;
                padding:23px 0;
                border-top: 1px solid #e5e5e5;
                margin-left: -10px;
                a{
                    color: $color666;
                    font-size: $ssfont;
                    .imgzhuti{
                        display: inline-block;
                        width: 70px;
                        height: 70px;
                        img{
                            width: $width;
                            height: $height;
                        }
                    }
                    .jieshao{
                        display: inline-block;
                        width: 115px;
                        height: 100%;
                        span{
                            width: 100px;
                            display: inline-block;
                            padding-bottom: 30px;
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                        }
                        i{
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}


/*底部部分*/
/*底部导航*/
.footer1{
    margin-top: 30px;
    width: $width;
    height: 80px;
    background: #3E3A39;
    color: white;
    padding-top: 1px;
    position: relative;
    z-index: 100;
    .footer1-ul{
        width: 80%;
        height: 54px;
        margin: 15px auto;
        line-height: 54px;
        padding-left: 80px;
        .footer1-li{
            width: 215px;
            height: 54px;
            float: left;
            line-height: 54px;
            span{
                display: inline-block;
                width: 40px;
                height: 40px;
                vertical-align: middle;
            }
            p{display: inline-block;font-size: 14px;padding-left: 10px;}
        }
        .footer1-li:nth-of-type(1) span{@include imgulrimg("https://img0.fengqucdn.com/cmsres/20160405/45e8dcbc-2fb9-43ff-86d6-0dbb752ca670.svg");background-position: -10px -120px;}
        .footer1-li:nth-of-type(2) span{@include imgulrimg("https://img0.fengqucdn.com/cmsres/20160405/45e8dcbc-2fb9-43ff-86d6-0dbb752ca670.svg");background-position: -10px -63px;}
        .footer1-li:nth-of-type(3) span{@include imgulrimg("https://img0.fengqucdn.com/cmsres/20160405/45e8dcbc-2fb9-43ff-86d6-0dbb752ca670.svg");background-position: -10px -174px;}
        .footer1-li:nth-of-type(4) span{@include imgulrimg("https://img0.fengqucdn.com/cmsres/20160405/45e8dcbc-2fb9-43ff-86d6-0dbb752ca670.svg");background-position: -10px -520px;}
        .footer1-li:nth-of-type(5) span{@include imgulrimg("https://img0.fengqucdn.com/cmsres/20160405/45e8dcbc-2fb9-43ff-86d6-0dbb752ca670.svg");background-position: -10px -363px;}
        
    }
}
/*底部内容*/
.footer2{
    width: $width;
    height: 254px;
    padding-top: 30px;
    margin: 0 auto;
    background: #F1F1F1;
    .footer2-kuang{width: 80%;height: $height;}
    .footer2-kuang-p{font-size: $ssfont;color: #999;a{color: #999;}text-align: center;position: relative;top: 50px;}
}
.footer2-kuang{
    width: 80%;
    margin: 0px auto;
    div{float: left;}
}
/*f1内容*/
.footer2-f1{
    width: 169px;
    height: 115px;
    .f1-span{
        display: inline-block;
        width: 158px;
        height: 69px;
        @include imgulrimg("../img/header.png");
        background-position: 0px -327px;
        vertical-align: middle;
    }
    .f1-p{
        height: 20px;
        font-size: 14px;
        a{
            vertical-align: middle;
            display: inline-block;
            width: 40px;
            height: 40px;
            @include imgulrimg("https://img0.fengqucdn.com/cmsres/20160405/45e8dcbc-2fb9-43ff-86d6-0dbb752ca670.svg");
        }
        a:nth-of-type(1){background-position: -5px -467px;}
        a:nth-of-type(2){background-position: -5px -415px;}
    }
    
   
}


 
/*f2内容*/

.footer2-f2{
    dl{
        float: left;margin-left: 98px;
        dt{margin-bottom: 22px;color: #3E3A39;}
        dd{margin-top: 10px;font-size: $ssfont;color: #999;}
    }
}
/*f3内容*/
.footer2-f3{
    width: 101px;
    height: 116px;
    margin-left: 130px;
    p{font-size: 14px;width: $width;text-align: center;}
    span{display: inline-block;margin-top: 10px;}
}

  
 .fanhui{
     position: fixed;
     bottom: 100px;
     right: 50px;
     width: 58px;
     height: 56px;
     background: rgba(0,0,0,0.3);
     border-radius:10px;
     text-align: center;
     line-height: 56px;
     display: none;
     z-index: 10000;
     span{
         display: inline-block;
         width: 16px;
         height: 20px;
         @include imgulrimg("../img/icon.png");
         background-position:-63px -109px ;
     }
     
 }  
