body {
  background: #f5f5f5;
}

.cart {
  width: 87%;
  height: 306px;
  margin: 30px auto;
}

.cart-box1 {
  height: 45px;
  line-height: 45px;
  background: #353a42;
  color: #c0c0c0;
}
.cart-box1 th {
  font-weight: 400;
  font-size: 12px;
  text-align: left;
}
.cart-box1 .th1 {
  width: 185px;
  padding-left: 25px;
}
.cart-box1 .th1 input {
  display: inline-block;
  padding-right: 10px;
}
.cart-box1 .th2 {
  width: 321px;
}
.cart-box1 .th3 {
  width: 140px;
}
.cart-box1 .th4 {
  width: 231px;
}
.cart-box1 .th5 {
  width: 140px;
}
.cart-box1 .th6 {
  width: 140px;
}

.cart-box2 {
  height: 42px;
  line-height: 42px;
  padding-left: 25px;
  background: #eee;
}
.cart-box2 span {
  padding: 2px 5px;
  line-height: 18px;
  text-align: center;
  color: white;
  display: inline-block;
  width: 60px;
  height: 18px;
  background: #df3c3a;
  margin-right: 10px;
  font-size: 12px;
}

.cart-box3 {
  border-top: 1px solid #ccc;
}
.cart-box3 span {
  display: inline-block;
  padding: 20px 0px;
  vertical-align: middle;
}
.cart-box3 .th1 {
  position: relative;
  width: 157px;
  padding-left: 25px;
}
.cart-box3 .th1 a {
  display: inline-block;
  width: 80px;
  height: 80px;
  padding-left: 50px;
}
.cart-box3 .th1 img {
  width: 100%;
  height: 100%;
}
.cart-box3 .th1 i {
  display: inline-block;
  top: 45px;
  position: absolute;
}
.cart-box3 .th2 {
  width: 321px;
}
.cart-box3 .th2 h2 {
  padding-left: 25px;
  padding-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 25px;
  width: 253px;
  font-size: 12px;
  font-weight: normal;
}
.cart-box3 .th2 h2 a {
  color: #333;
}
.cart-box3 .th2 .th2-gg {
  font-size: 12px;
  color: #aaa;
  padding-left: 25px;
}
.cart-box3 .th3 {
  width: 121px;
  font-size: 12px;
}
.cart-box3 .th3 del {
  padding-left: 10px;
  color: #aaa;
}
.cart-box3 .th3 div {
  padding: 10px 10px;
}
.cart-box3 .th3 .th3-bj {
  background-image: url("../img/icon.png");
  background-position: -470px -152px;
}
.cart-box3 .th4 {
  width: 231px;
  height: 34px;
}
.cart-box3 .th4 div {
  width: 117px;
  border: 1px solid #C6C6C6;
}
.cart-box3 .th4 div a:nth-of-type(1) {
  border-right: 1px solid #c6c6c6;
}
.cart-box3 .th4 div a:nth-of-type(2) {
  border-left: 1px solid #c6c6c6;
}
.cart-box3 .th4 a {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 32px;
}
.cart-box3 .th4 input {
  border: none;
  width: 49px;
  height: 32px;
}
.cart-box3 .th5 {
  width: 140px;
  padding-left: 10px;
}
.cart-box3 .th6 {
  width: 140px;
}
.cart-box3 .th6 .th6-bj {
  margin-left: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon.png");
  background-position: -158px -198px;
}

.cart-box4 {
  height: 98px;
  padding-left: 25px;
  background: #eee;
}
.cart-box4 .box4-left {
  padding-top: 20px;
  float: left;
  font-size: 12px;
}
.cart-box4 .box4-left a {
  padding-left: 20px;
}
.cart-box4 .box4-right {
  float: right;
  font-size: 12px;
  padding-right: 50px;
}
.cart-box4 .box4-right ul {
  width: 270px;
  height: 60px;
  float: left;
}
.cart-box4 .box4-right ul li {
  padding-top: 20px;
}
.cart-box4 .box4-right ul span {
  padding-right: 10px;
}
.cart-box4 .box4-right ul em {
  font-style: normal;
  padding-left: 20px;
}
.cart-box4 .box4-right button {
  display: inline-block;
  top: 0;
  float: right;
  margin-top: 30px;
  width: 120px;
  height: 36px;
  background: #9e9e9e;
  border: none;
}

/*# sourceMappingURL=cart.css.map */
